@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url();
:root{
    --bg-color-dark:#131200;
    --text-color-dark: white;
    --links-color-dark:#8D91C7;
    --links-hover-dark:#e299e4;
}