@import url('./global.css');

body{
    background-color: var(--bg-color-dark);
    color:var(--text-color-dark);
    font-family: "Quicksand";
    line-height: 1.6;
}

nav{
    height: 13vh;
    max-height: 200px;
    padding: 10px;
}
.logo{
    padding: 50px;
}

*{
    box-sizing: border-box;
}

.auth-container{
    width: 100%;
    padding: 30px, 10px;
}
.auth-card{
    background-color: #1c1a05;
    width: 90%;
    padding: 40px, 25px;
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 10px 25px rgba(0,0,0,0,4);
}